# .npmrc
# Desativar instalação de dependências opcionais
optional=false

# Diretório alternativo para binários do canvas
canvas_binary_host_mirror=https://github.com/Automattic/node-canvas/releases/download/

# Desativar verificação de versão do mecanismo
engine-strict=false

# Ignorar erros em scripts de instalação para pacotes opcionais
ignore-scripts=true